<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('header') -%>
  </head>
  <body>
    <div class="container">
      <%- include ('navbar') -%>
      <div class="content">
        <div class="row no-gutters" style="margin-top:5%; justify-content:center;">
          <div class="col-lg-8 pr-lg-2">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">Settings</h5>
              </div>
              <div class="card-body bg-light">
                <h5 class="fs-0">Add Candidate</h5>
                <p class="fs--1">Use this to add someone to the database</p>
                <a class="btn btn-falcon-primary d-block" data-toggle="modal" data-target="#addBrother">Add</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.min.js"></script>
    <script src="lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="lib/is_js/is.min.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/bidvote.js"></script>
  </body>
</html>
