<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./header %>
  </head>
  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <div class="container">
        <div class="row flex-center text-center min-vh-100">
          <div class="col-sm-11 col-md-9 col-lg-7 col-xl-6 col-xxl-5"><a class="d-block text-center mb-4" href="https://www.smartervalet.com"><img class="img-fluid" src="./images/smartervalet.png" alt="" width="" /></a>
            <div class="card">
              <div class="card-body p-5">
                <div class="display-1 text-200 fs-error">200</div>
                <p class="lead mt-4 text-800 text-sans-serif font-weight-semi-bold">Welcome to Smarter Valet</p>
                <hr />
                <p>Sign up or Log in to Begin doing Valet Smarter.</p>
                <a class="btn btn-primary btn-sm mt-3" href="/o-login">
                  <span class="fas fa-home mr-2"></span>Log In
                </a>
                <a class="btn btn-primary btn-sm mt-3" href="/signup">
                  <span class="fas fa-home mr-2"></span>Sign Up
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/plugins.js"></script>
    <script src="./lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="./lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="./lib/is_js/is.min.js"></script>
    <script src="./js/theme.js"></script>
  </body>
</html>
